body {
	margin: 0;
}

.wrapper {
	background: url(img/fon.jpg);
	background-size: cover;
	min-height: 100vh; /* на всю висоту екрана */
}

/* Товари */
.tovars {
	text-align: center;
	color: white;
}

.tovars ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.tavars-title {
	color: white;
	letter-spacing: 5px;
}

.tovars-subtitle {
	font-style: italic;
	color: white;
}

.robot:hover {animation: shake   1.0s;}
@keyframes  shake {
    0% {
      opacity: 0;
    }
    100% {
     opacity: 1;
    }
	
}

.robot {
	width: 200px;
}

.conatact {
	text-align: center;
	font-family: Verdana;
	font-size: 20px;

}

.menu {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: Verdana;
}

.menu li {
	display: inline-block;
}

.menu a {
	display: block;
	color: white;
	text-decoration: none;
	font-size: 16 px;
	padding: 20px 30px;
	transition: all 1s;
}

.menu a:hover {
	color: white;
	transform: scale(1.9);
}

.menu a.active {
	color: white;
}

.logo {
	margin-right: 150px;
	width: 150px;
}

.header {
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	align-items: center;
}

/* Головна */
.main {
	width: 1000px;
	margin: 0 auto;
	padding-top: 100px;
}

.title {
	color: white;
	font-family: Verdana;
	font-size:40px;
}

.subtite {
	color: white;
	font-family: Verdana;
}

.main-img {
	float: right;
	width: 400px;
	
}


/* Кнопка */

.button {
	width: 140px;
	height:60px;
	font-family: Verdana;
	font-size: 18px;
	border-radius: 6px;
	color: white;
	border: 4px double purple;
}

.button a {
	text-decoration: none;
	color: purple;
}

.button:hover {
	border: 4px double white;
	background-color: transparent;
}

.decortions {
	color: white;
	font-family: Verdana;
	text-align: left;
	font-size: 20px;
	margin: 50px;
}

.persik {
	width: 400px;
	margin: 50px;
	float: right;
}































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































вентилятор






вентилятор
